JMAIL_API = "https://data.jmail.world/"

# Project's folder
DATA_RAW_PATH = "data/raw/"
DATA_INTERIM_PATH = "data/interim/"
DATA_CLEAN_PATH = "data/clean/"
DATA_EXPORTED_PATH = "data/exported/"
DATA_EMBEDDINGS_PATH = "models/embeddings/"

MODEL_PATH = "models/"
